<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="cas46PetCentarApp">
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <property name="context-root" value="cas46PetCentarApp"/>
        <property name="java-output-path" value="/cas46PetCentarApp/build/classes"/>
    </wb-module>
</project-modules>
